*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: 'Share', cursive;
    font-size: 10px;
}

body{
    background: #fff !important;
}

img{
    border-radius: 0 !important;
}

@import './aboutStore/about-store';
@import './brands/brands';
@import './buttons/buttons';
@import './footer/footer';
@import './header/header';
@import './newses/news';
@import './section/section';
@import './slider/slider';