.slider{
    position: relative;
    width:100%;

    @include mediaQuery($large) {
        width:55%;
        right:-200px;
    }
}

.swiper-container{
    position: relative;
    left:100px;
    width:100%;
    height:250px;

    @include mediaQuery($medium) {
        height:480px;
        width:480px;
    }
        
    @include mediaQuery($large) {
        width:550px;
        height: 640px;
    }
}

.swiper-wrapper{
    position: relative;
    //right: -50px;
}

.swiper-slide{
    position: relative;
    left:-25px;
    width:220px !important;
    height:240px !important;
    overflow: hidden;

    @include mediaQuery($medium) {
        left:0;
        width:480px !important;
        height:480px !important;
    }

    @include mediaQuery($large) {
        left:0;
        width:550px !important;
        height:640px !important;
    }

    & img{
        width:100%;
        height:100%;
    }
}

.swiper-button-prev{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width:40px;
    height:40px;
    border:1px solid $font-color;
    transform: rotate(45deg);
    z-index: 2;

    @include mediaQuery($medium)  {
        left:60px;
    }

    @include mediaQuery($large)  {
        left:-20px;
    }

    &::after{
        display: none;
    }

    & span{
        position: relative;
        transform: rotate(-45deg);
        font-size: $medium-font-size;
        font-weight: 300;
        color: $font-color;
        z-index: 3;

            
        @include mediaQuery($medium)  {
            font-size: $content-font-size;
        }
    }
}