.footer-list{
    font-family: $footer-font-family;

    &__grid-container{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;

        &:nth-of-type(1){
            margin-bottom: 30px;
        }

        @include mediaQuery($medium)  {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    
    &__section-header{
        margin-bottom:10px;
        font-size: $content-font-size;
        font-weight: 600;
        color: $site-background;
    }

    &__header{
        margin-bottom:0px;
        font-size: $medium-font-size;
        color: $site-background;
    }

    &__list-container{
        & ul{
            margin-left:0;
            list-style: none;
        }
    }

    &__element{
        font-size: $medium-font-size;
        & a{
            color: $footer-text-color;

            &:focus{
                outline:0;
            }

            &:hover{
                color: lighten($color: $footer-text-color, $amount: 20)
            }
        }
    }
}