.footer-nav{
    &__list{
        list-style:none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left:0;

        & li{
            padding:0 10px;
            border-right:1px solid $footer-text-color;
            font-size: $small-font-size;

            &:nth-of-type(1){
                padding-left:0;
            }

            &:last-child{
                border:none;
            }
        }

        & a{
            color: $footer-text-color;

            &:focus{
                outline:0;
            }

            &:hover{
                color: lighten($color: $footer-text-color, $amount: 20)
            }
        }
    }
}