.newses{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 20px;

    @include mediaQuery($medium)  {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mediaQuery($large)  {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

.news{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
    min-height: 400px;
    padding:20px;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.07);
    transition: .3s;

    &:hover{
        color: $site-background;
        background: $font-color;
    }

    @include mediaQuery($large)  {
        padding:30px;
        min-height: 600px;
    }

    & img{
        width:100%;
    }

    &__title{
        margin:20px 0;
        font-family: $font-family-for-site-content;
        font-size: $content-header;
        color: $font-color;

        .news:hover &{
            color: $site-background;
        }
    }

    &__sneak-peek, 
    & p{
        margin-bottom: 10px;
        font-family: $font-family-for-site-content;
        font-size: $medium-font-size;
        color: $font-color;
    }

    &:hover p,
    &:hover &__sneak-peek{
        color: $site-background !important;
    }

    &__link{
        align-self: flex-end;
        font-family: $font-family-for-site-content;
        font-size: $small-font-size;
        color: $ktm-header-color;

        &:hover{
            color: $site-background;
        }
    }
}