.footer{
    padding:20px 0 0;
    background: $footer-background;

    &__container{
        width:90%;
        max-width:$max-section-width;
        margin:0 auto;
    }

    &__top-section{
        display:grid;
        grid-gap:20px;

        @media (min-width:760px) {
            grid-template-columns: 3fr 2fr 1fr;
        }
    }

    &__lists-section{
        margin-top:30px;
    }

    
    &__bottom-section{
        padding:20px 0 30px;
        border-top: 1px solid $footer-text-color;
        display: flex;
        flex-direction: column;

        @media (min-width:760px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        &-copy-right{
            display: flex;
            justify-self: flex-end;
            font-size: $small-font-size;
        }
    }

    &-widgets{
        padding:0;
    }
};

.contact-ways{
    display:grid;
    grid-gap:20px;
    font-size: $medium-font-size;
    color:$footer-text-color;

    &__text{
        margin-bottom: 10px;
        font-family: $font-family-for-site-content;

        &--bold{
            color:$site-background;
            font-weight: $bold-text;
        }
    }

    &__link{
        color:$footer-text-color;

        &:focus{
            outline: 0;
        }

        &:hover{
            color: lighten($color: $footer-text-color, $amount: 20)
        }
    }
};

.social-media{
    display:flex;
    justify-content: space-between;
    width:75px;

    & a:focus{
        width:fit-content;
        outline: none;
    }
}


@import './footer-elements/list';
@import './footer-elements/nav';