.header-image{
    width:100%;
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @include mediaQuery($medium) {
        height: 100vh;
    }

    @include mediaQuery($large)  {
        height: 75vh;
    }
}