.nav-container{
    max-width: $max-section-width;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    display: none;

    &.active{
        display: block;
    }

    @include mediaQuery($medium)  {
        display: block;
    }

    &__list{
        width:100%;
        margin-left:0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        list-style: none;

        @include mediaQuery($medium)  {
            max-width: fit-content;
            flex-direction: row;
            align-items: center;
        }

        & li{
            width:100%;
            
            @include mediaQuery($medium)  {
                width:auto;
            }
        }

        & a{
            width:100%;
            display:block;
            padding:5px;
            text-transform: uppercase;
            font-size: $medium-font-size;
            font-family: $font-family-for-navigation;
            font-weight: $bold-text;
            color: $font-color;

            @include mediaQuery($medium)  {
                display: inline-block;
                width:auto;
                padding:15px 20px;
            }

            &:hover{
                color: $site-background;
                background: $font-color;
            }

            &:focus{
                outline: 0;
            }
        }
    }
}