.content{
    width:100%;

    @include mediaQuery($medium)  {
        width: 98%;
    }

    &__header{
        margin-bottom: 20px;
        color: $font-color;
        font-weight: 600;
        font-family: $font-family-for-site-content;
        font-size: $content-header;
    }

    
    &__text{
        color: $font-color;
        font-family: $font-family-for-site-content;
        font-size: $content-font-size;
    }

    &__img{
        margin: 40px 0;

        @include mediaQuery($medium)  {
            margin-top: 0;
        }
    }
}